body{
    font-family: var(--fonte-primaria);
    background: url(../imagens/bg-desktop.svg) center no-repeat;
    background-size: cover;
    background-color: var(--cor-primaria);
}

.cabecalho img{
   max-width: 150px;
   margin: 30px 0 50px 60px;
}

.painel{
    display: flex;
    padding: 0 30px;
    margin-left: 30px;
    
}

.painel .img-painel{
   max-width: 100%;
   height: auto;
}

.info-painel{
    padding: 25px;
    max-width: 100%;
}

.info-painel h1{
    color: #fff;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    margin-bottom: 25px;
    max-width: 400px;
}

.info-painel p{
    color: #fff;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    letter-spacing: 1px;
    max-width: 600px;
    margin-bottom: 25px;
}

.info-painel .botao{
    border-radius: 50px;
    background-color: #fff;
    color: var(--cor-primaria);
    padding: 10px 50px;
    font-family: var(--fonte-secundaria);
    transition: 0.3s;
}

.info-painel .botao:hover{
    color: #fff;
    background-color: var(--cor-secundaria);
    font-weight: 400;
}

.rodape{
    max-width: 100%;
}

.rodape .redes-sociais{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.rodape .redes-sociais i{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    margin: 0 20px 30px 0;
    transition: 0.3s;
}

.rodape .redes-sociais a i:hover{
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
}

    